body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    background-color: lightcyan;
}

/********HEADER********/

.main-name {
    font-weight: bold;
}

.header {
    padding: 0.5%;
    display: flex;
    background-color: lightblue;
}

.header .logo {
    color: white;
    font-weight: bolder;
    font-size: large;
    margin-left: 11%;
}

.header .search {
    margin-left: 10%;
}

.search input {
    border-radius: 10px;
    background-color: darkblue;
}

.search input:focus {
    color: grey;
    outline: none;
}

/**********************/
/********CONTENT********/

.content {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 1.5%;
}

/****MENU****/

.grey {
    color: grey;
}

.darkcyan {
    color: darkcyan;
}

.menu {
    color: darkcyan;
    width: 100%;
    margin-right: 5%;
    text-align: left;
}

.menu-item {
    width: 17%;
}

.menu ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 5px;
}

.menu a {
    display: block;
    text-decoration: none;
}

.menu li:hover {
    background-color: lightblue;
}

/************/

/****PROFILE****/

.profile {
    width: 100%;
    margin-right: 1%;
}

.profile ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.avatar {
    width: 100%;
    padding: 5%;
    background-color: white;
    margin-bottom: 4%;
    text-align: center;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.avatar button {
    padding: 4% 8%;
    color:darkcyan;
    border: none;
    background-color:lightgray;
    width: 90%;
    height: 80%;
}

.friends {
    padding: 5%;
    background-color: white;
    border-radius: 2%;
    width: 100%;
}

.friends table {
    border-spacing: 10px;
    text-align: center;
}

.friends .name {
    width: 80px;
    overflow: hidden;
}

.friends img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/************/
/*PROFILE-CONTENT*/

.profile-content {
    margin-left: 2%;
}

.details-header, .details-personal, .details-info, .photos, .posts {
    background-color: white;
}

.details-header:first-child {
    display: flex;
    justify-content: space-between;
}

.details-header:first-child {
    padding-top: 2%;
    padding-left: 2%;
}

.details-header:first-child :nth-child(2) {
    padding-right: 2%;
}

.details-header:first-child :first-child {
    width: 70%;
}

.details-personal {
    padding-top: 2%;
}

.details-personal table {
    border-spacing: 5px;
    margin-top: 2%;
    margin-left: 1.5%;
}

.border {
    background-color: white;
    padding-top: 2%;
    margin: auto;
    width: 90%;
    height: 2%;
    border-bottom: 1px solid lightgrey;
}

.details-info table {
    margin-top: 2%;
    margin-left: 1.5%;
    text-align: center;
}

.details-info table {
    border-spacing: 30px;
}

.details-info table tr:first-child {
    font-size: 20px;
}

.photos, .posts {
    margin-top: 2%;
}

.photos .photos-text {
    display: flex;
}

.photos .photos-text div {
    padding: 1%;
    margin-top: 1%;
    margin-left: 0.5%;
}

.photo-images {
    display: flex;
}

.photo-images img {
    width: 120px;
    height: 100px;
}

.photo-images div {
    padding: 1%;
}

.posts .user-data {
    display: flex;
    padding: 15px;
}

.user-data .stat {
    margin-left: 2%;
}

.stat div:nth-child(2) {
    margin-top: 2%;
}

.posts img {
    margin-left: 5%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.posts p {
    margin: 0;
    padding: 2%;
    padding-top: 0;
}


/************/



