body {
	margin: auto;
	width: 90%;
	font-family: Arial;
}

/******************************************************/
/*header*/

.header ul {
	margin-bottom: 1%;
	padding: 1.5%;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header {
	margin: 0;
	padding: 0;
	background-color: darkblue;
	
}

.header a {
	text-decoration: none;
	color: white
}

.header .logo {
	font-weight: bold;
}

/******************************************************/
/*content*/

.content {
	display: flex;
	justify-content: space-around;
	flex:1;
}

/*****************************/
/*left*/

.left {
	width: 20%;
}

.left .edit-bt {
	font-weight: bold;
	text-decoration: none;
	color: blue;
}

.left ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.left li {
	width: 250px;
	border: 1px solid lightgrey;
}

.left img {
	width: 100%;
}

.left p {
	text-align: center;
}

.left .pad-elem, .main-name {
	padding: 8px 0 8px 8px;
}

.left .pad-elem a {
	text-decoration: none;
	color: black;
}

.left .main-name a {
	color: blue;
}

.left .pad-elem a:hover {
	color: blue;
}

.left .main-name a:hover {
	color: purple;
}

/*****************************/
/*middle-friends*/
.middle-friends {
	width: 100%;
}

.middle-friends ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.middle-friends ul li {
    width: 100%;
    display: flex;
    
}

.middle-friends ul li:first-child {
    margin-top: 1.5%;
}

.middle-friends ul li:not(:first-child) {
    margin-top: 5%;
}

.middle-friends ul img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-left: 4%;
}

.middle-friends .user-data {
	margin-left: 2%;
}

.user-data * {
	margin-top: 2.5%;
}

.user-data button {
	color: white;
	background-color: grey;
	border: none;
	padding: 8px;
}

.user-data button:hover {
	cursor: pointer;
}

.user-data button:active {
	background-color: lightgrey;
}

.remove {
	margin-left: 40%;
}

.remove button {
	color: white;
	background-color: red;
	border: none;
	padding: 8px;
}

.remove button:hover {
	cursor: pointer;
}

.remove button:active {
	background-color: pink;
}

/*****************************/
/*right*/

.right {
	width: 40%;
}

.right table {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid lightgrey; 
	border-collapse: collapse; 
}

.right .t-elem {
	border: 1px solid lightgrey;
}

.right td {
	padding: 5px;
}

.right .time {
	color: grey;
	padding-left: 25px;
}

.right .description {
	color: grey;
}

.right .bold-part {
	font-weight: bold;
}

/******************************************************/